.App {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;

    & li:hover {
        color: #61dafb;
        cursor: pointer;
        user-select: none;
    }
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}


.box {
    height: 30rem;
    width: 100%;
    background-color: #0078AE;
    padding: 1rem;
    border: 1px solid red;
}

button {
    background-color: #0078AE;
    padding: 2rem 4rem;
    border-radius: 4rem;
    min-width: 16rem;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border ease-in .4s;
    color: #61dafb;

    &:hover {
        border-color: red;
        color: aqua;
    }

}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #61dafb;

    &:hover {
        color: aqua;
    }
}
